<div class="container-fluid" style="padding: 0 0 0 0;">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <div class="intro-text">
                <div class="page-title">Contact</div>
            </div>
            <div class="page-subtitle">
                Saswat Raj<br/>
                <a class="about-link" href="/about">saswatraj@outlook.com</a>
            </div>
            <div class="contact-form">
                <div id="map" class="map"></div><br/>
                For prints, inquiries, or any other questions or comments, please contact me through this form 
                and I will do my best to get back to you. <br/><br/>
                <form>
                    <div class="form-group">
                        <label for="inputEmail">Email address</label>
                        <input type="email" class="form-control" name="inputEmail" id="inputEmail" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <label for="inputMessage">Your Message</label>
                        <textarea class="form-control" name="inputMessage" id="inputMessage" placeholder="The more I know, the better I can help you"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="inputMessage">How can I reach out to you ?</label>
                        <div class="row">
                            <div class="col-6">
                                <input type="text" class="form-control" name="inputName" id="inputName" placeholder="Name">
                            </div>
                            <div class="col-6">
                                <input type="text" class="form-control" name="inputPhone" id="inputPhone" placeholder="Phone (optional)">
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary themed">Submit</button>
                </form>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
</div>
<script>
    $(document).ready(function(){

        var baseMapLayer = new ol.layer.Tile({
            source: new ol.source.OSM()
        });

        var map = new ol.Map({
        target: 'map',
        layers: [ baseMapLayer],
        view: new ol.View({
                center: ol.proj.fromLonLat([-122.3321,47.6062]), 
                zoom: 7 //Initial Zoom Level
            })
        });
        //Adding a marker on the map
        var marker = new ol.Feature({
            geometry: new ol.geom.Point(
                ol.proj.fromLonLat([-122.3321,47.6062])
            ),  // Cordinates of New York's Town Hall
        });
        var vectorSource = new ol.source.Vector({
            features: [marker]
        });
        var markerVectorLayer = new ol.layer.Vector({
            source: vectorSource,
        });
        map.addLayer(markerVectorLayer);

        //submit
        $(".contact-form form").submit(function( event ) {
            event.preventDefault();
            var formData =$(this).serialize();
            $.ajax({
                  type: "POST",
                  url: '/contact/sendMessage',
                  data: formData,
                  success: function(data, status, xhr){
                    console.log("success !!");
                    $.unblockUI();
                  },
                  error: function(xhr, status, err){
                    console.log("error !!");
                    $.unblockUI();
                  }
            });
        });
    });
</script>