<div class="container-fluid" style="padding: 0 0 0 0;">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <div class="intro-text">
                <div class="contact-page-title">Contact</div>
            </div>
            <div class="album-page-subtitle">
                Saswat Raj<br/>
                <a class="about-link" href="/about">saswatraj@outlook.com</a>
                <div id="map" class="map"></div><br/>
                <div>
                    For prints, inquiries, or any other questions or comments, please contact me through this form and I will do my best to get back to you.
                </div>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
</div>
<script>
    $(document).ready(function(){

        var baseMapLayer = new ol.layer.Tile({
            source: new ol.source.OSM()
        });

        var map = new ol.Map({
        target: 'map',
        layers: [ baseMapLayer],
        view: new ol.View({
                center: ol.proj.fromLonLat([-122.3321,47.6062]), 
                zoom: 7 //Initial Zoom Level
            })
        });
        //Adding a marker on the map
        var marker = new ol.Feature({
            geometry: new ol.geom.Point(
                ol.proj.fromLonLat([-122.3321,47.6062])
            ),  // Cordinates of New York's Town Hall
        });
        var vectorSource = new ol.source.Vector({
            features: [marker]
        });
        var markerVectorLayer = new ol.layer.Vector({
            source: vectorSource,
        });
        map.addLayer(markerVectorLayer);
    });
</script>