<div class="hcarousal">
  <div>
    <img src="images/sample1.jpg"/>
  </div>
  <img src="images/sample1.jpg"/>
</div>
<script>
$('.hcarousal').slick({
    dots: false,
    autoplay: true,
    autoplaySpeed:900,
    slidesToShow: 1,
    slidesToScroll: 2,
    lazyLoad: 'ondemand',
    arrows: false,
    centerPadding: '0'
});
</script>