<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Fluid jumbotron</h1>
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
  </div>
</div>
<div class="container" style="margin-top: 50px;">
    <div class="row">
        <div class="col-6">
            <div class="card" style="height:550px;margin-bottom: 30px;width:80%;margin:22px;">
                <img src="images/sample1.jpg" class="card-img-top" style="height:80%;" alt="...">
                <div class="card-body" style="height:60%;">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card" style="height:550px;margin-bottom: 30px;width:80%;margin:22px;">
                <img src="images/sample1.jpg" class="card-img-top" style="height:80%;" alt="...">
                <div class="card-body" style="height:60%;">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>