<html>
    <head>
        <title>{{ title }}</title>
        <script language="javascript" src="/js/bootstrap.min.js"></script>
        <script language="javascript" src="/jquery.min.js"></script>
        <script language="javascript" src="/masonry.pkgd.min.js"></script>
        <script language="javascript" src="/js/jquery.sliderPro.min.js"></script>
        <script language="javascript" src="/js/image-picker.min.js"></script>
        <script language="javascript" src="/js/selectize.min.js"></script>
        <script language="javascript" src="/js/jquery.easing.js"></script>
        <script language="javascript" src="/js/jquery.scrollUp.min.js"></script>
        <script language="javascript" src="/js/dropzone.js"></script>
        <script language="javascript" src="/js/jquery.blockUI.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans:300|Big+Shoulders+Text|Encode+Sans+Semi+Condensed:200|Montserrat:300,600,500,700|Open+Sans+Condensed:300&display=swap" rel="stylesheet"> 
        <link rel="stylesheet" href="/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="/css/slider-pro.min.css"/>
        <link rel="stylesheet" href="/css/main.css"/>
        <link rel="stylesheet" href="/css/image-picker.css"/>
        <link rel="stylesheet" href="/css/selectize.css"/>
        <link rel="stylesheet" href="/css/dropzone.css"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.2.1/css/ol.css" type="text/css">
        <style>
        .map {
            height: 250px;
            width: 100%;
            -webkit-filter: grayscale(1);
	        filter: grayscale(1);
        }
        </style>
        <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.2.1/build/ol.js"></script>
    </head>
    <body oncontextmenu="return false" onselectstart="return false" ondragstart="return false">
        {{> nav}}
        {{{ body }}}
    </body>
</html>