<div class="container-fluid" style="padding: 0 0 0 0;">
    <div class="grid">
        <!-- .grid-sizer empty element, only used for element sizing -->
        <div class="grid-sizer"></div>
        <div class="grid-item">
            <img src="images/sample1.jpg"/>
        </div>
        <div class="grid-item">
            <img src="images/sample1.jpg"/>
        </div>
        <div class="grid-item grid-item--width2">
            <img src="images/sample1.jpg"/>
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
        var $grid = $('.grid').masonry({
            itemSelector: '.grid-item',
            columnWidth: '.grid-sizer',
            fitWidth: true,
            percentPosition: true
        });
        $grid.masonry();
    });
</script>