<div class="container-fluid" style="padding: 0 0 0 0;">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <div class="intro-text">
                <div class="page-title">Fine Art Prints</div>
            </div>
            <div class="page">
                I offer individuals and businesses the opportunity to purchase gallery-quality fine art prints featured in my fine art and landscape portfolio.
                <br/><br/>
                Alternatively, <a href="/contact">contact me</a> with your precise requirements and I will be happy to put together a custom selection of relevant photographs from my catalog. A wide range of <a href="#">framing and mounting options</a> are available and I can ship your prints to anywhere in the world. Read on for more info.
                <br/><br/>
                <h2>Print Sizes</h2>
                <ul>
                    <li>Metal Prints
                        <ul>
                            <li>Minimum size: 3.5 x 3.5 in. (9 x 9 cm)</li>
                            <li>Maximum size: 75 x 57 in. (190 x 145 cm)</li>
                        </ul>
                    </li>
                    <li>Acrylic Photo Prints
                        <ul>                  
                            <li>Minimum size: 4 x 4 in. (10 x 10 cm)</li>
                            <li>Maximum size: 45 x 45 in. (120 x 120 cm)</li>
                        </ul>
                    </li>
                </ul>
                <h2>Print Options</h2>
                <ul>
                    <li>Canvas Prints</li>
                    <li>Metal Frames</li>
                    <li>Framed Prints</li>
                    <li>Photo Prints</li>
                    <li>Acrylic Prints</li>
                </ul>
                <br/>
                For a detailed description you can download the Brochure <a href="#">here</a>. 
                <br/><br/>

                <h3>Licensing</h3>
                I also offer licensing services. Please <a href="/contact">contact me</a> via the contact for more information.
            </div>
        </div>
        <div class="col-2"></div>
    </div>
</div>